/* navigation bar */

.navigation{
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #81535D;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
    z-index: 9999;
    
}
#navButtons{
    display: flex;
    margin-top: 15px;
    
}

#navButtons a:hover{
    color: #FF9C00;
}
.reg a{
    margin-right: 40px;
    margin-top: 50px;
    color: #F6EED6;
    font-family: "Barlow";                                 
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
    
}
.hotline{
    margin-right: 50px;
}
.hotline a{
    
    padding: 10px;
    border-radius: 30px;
    background-color: #FF9C00;
    text-decoration: none;
    margin-right: 40px;
    margin-top: 50px;
    color: #ffffff;
    font-family: "Barlow", sans-serif;                                     
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.hotline a:hover{
    padding: 10px;
    border-radius: 30px;
    background-color: #F6EED6;
    text-decoration: none;
    margin-right: 40px;
    margin-top: 50px;
    color: #FF9C00;
    font-family: "Barlow", sans-serif;                                     
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.logo{
    display: flex;
}
.logo h1{
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    color:#F6EED6;
    line-height: 10px;
}
/*end  navigation bar */

.title{
    margin-top: 0px;
    background-image: url('../asset/faq_background.png');
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F6EED6;
    background-size: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
}

.page1{
    margin-top: 0px;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F6EED6;
    background-size: center;
}

.page2{
    margin-top: 0px;
    background-attachment: fixed;
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: center;
}

.page3{
    margin-top: 0px;
    background-attachment: fixed;
    width: 100%;
    height: 420vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: center;
}

.page2 p{
    position: absolute;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px #98727a;
    margin-top: -230px;
    margin-left: 530px;
}

.page2 img{
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;
}

.Q{
    text-shadow: 3px 2px #aaa8a5;
    font-size: 50px;
}

.A{
    text-shadow: 3px 2px #aaa8a5;
    font-size: 50px;
    font-weight: bold;
}



/*---------------------Question 1---------------------------*/
.question1{
    margin-left: -150px;
}
.question1 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 200px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer1{
    margin-left: -150px;
}
.answer1 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 270px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 2---------------------------*/

.question2{
    margin-left: -150px;
}
.question2 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 390px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer2{
    margin-left: -150px;
}
.answer2 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 460px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 3---------------------------*/

.question3{
    margin-left: -150px;
}
.question3 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 580px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer3{
    margin-left: -150px;
}
.answer3 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 650px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 4---------------------------*/

.question4{
    margin-left: -150px;
}
.question4 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 770px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer4{
    margin-left: -150px;
}
.answer4 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 840px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 5---------------------------*/

.question5{
    margin-left: -150px;
}
.question5 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 960px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer5{
    margin-left: -150px;
}
.answer5 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1030px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 6---------------------------*/

.question6{
    margin-left: -150px;
}
.question6 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1150px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer6{
    margin-left: -150px;
}
.answer6 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1220px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 7---------------------------*/

.question7{
    margin-left: -150px;
}
.question7 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1310px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer7{
    margin-left: -150px;
}
.answer7 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1380px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 8---------------------------*/

.question8{
    margin-left: -150px;
}
.question8 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1470px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer8{
    margin-left: -150px;
}
.answer8 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1540px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 9---------------------------*/

.question9{
    margin-left: -150px;
}
.question9 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1630px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer9{
    margin-left: -150px;
}
.answer9 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1700px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 10---------------------------*/

.question10{
    margin-left: -150px;
}
.question10 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1820px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer10{
    margin-left: -150px;
}
.answer10 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 1890px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*---------------------Question 11---------------------------*/

.question11{
    margin-left: -150px;
}
.question11 p{
    position: absolute;
    width: 1000px;
    color: #4089BE;
    background-color: #F4F2F2;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2010px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.answer11{
    margin-left: -150px;
}
.answer11 p{
    position: absolute;
    width: 1000px;
    color: #696969;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2080px;
    margin-left: 250px;
    padding-left: 20px;
    padding-right: 500px;
    padding-top: 0px;
    padding-bottom: 20px;
}


.title_page2 p{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    background-color: #4089BE;
    color: #F6EED6;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

.title_page2{
    margin-top: 20px;
    margin-left: 330px;
}




.title{
    z-index: 1;
}
.title img{
    position: static;
    width: 100%;
    height: 100vh;
   
}
.title h1{
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 175px;
    margin-left: 500px; 
    color: #fff;
    text-shadow: 2px 2px #98727a ;

}


.title h3{
    position: absolute;
    font-family: "Barlow";
    font-size: 30px;
    margin-top: 250px;
    margin-left: 40%;
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px #98727a ;
    
}

.mission{
    text-align: justify;
    font-family: "Barlow";
    margin-top: -200px;
    margin-left: 475px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    line-height: 30px;
    color: #81535D;
}

.colored{
    color: #FF9C00;
}

.textcont{
    
    background-color: #fff;
    height: 150px;
    width: 190px;
    padding: 15px;
    margin: -5px 0;
}
.textcont h3{
    font-family: "Barlow";
    font-size: 15px;
    color: #81535D;
    margin: 0;
}

.textcont p{
    font-family: "Barlow";
    font-size: 9px;
    color: #81535D;
    margin-bottom: 10px;

}

.textcont h4{
    font-family: "Barlow";
    font-size: 12px;
    color: #FF9C00;
    text-align: center;
}
.container img{
    width: 220px;
    height: auto;
    margin-bottom: 0;
    
}

.container{
    margin: 0 50px;
    box-shadow: 2px 2px 5px #c8babe;
    

}
.contbutton {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/*-----------------FOOTER-------------------*/
.footer{
    margin-top: 0px;
    background-image: url(../asset/faq_background.png);
    background-attachment: fixed;
    width: 100%;
    height:60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(66, 57, 57, 0.692);
    background-size: center;
}

.footer_logo img{
    position: absolute;
    margin-top: 30px;
    margin-left: 850px;
    width: 150px; 
    height: 150px;
}

.footer_title p{
    position: absolute;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #F6EED6;
    line-height: 10px;
    margin-left: 800px;
    margin-top: 200px;
}

.footer_hotline a{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 30px;
    background-color: #FF9C00;
    text-decoration: none;
    margin-left: 820px;
    margin-top: 260px;
    color: #F6EED6;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
}

.footer_hotline a:hover{
    color: #81535D;
}

.follow p{
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    color: #F6EED6;
    line-height: 10px;
    margin-left: 460px;
    margin-top: 170px;
}

.follow_links{
    position: absolute;
    margin-left:380px;
    margin-top: 200px;
}
.follow_links a{
    margin-left: 60px;
}
.follow_links img{
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-left: 10px;
    opacity: 1;
}

.right_footer{
    margin-left: 60px;
}


.mid_footer{
    margin-left: 60px;

}

.left_icons{
    position: absolute;
    margin-left:10px;
    margin-top: 70px;
}

.left_icons img{
    position: absolute;
    opacity: 1;
}

.left_footer{
    margin-left: 20px;
}

.left_text p{
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #F6EED6;
}
.left_text{
    margin-left: 70px;
}


.home_about a{
    position: absolute;
    color: #F6EED6;
    font-family: "Barlow";
    text-decoration: none;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 250px;
    letter-spacing: 2px;
}


.disasters_contact a{
    position: absolute;
    color: #F6EED6;
    font-family: "Barlow";
    text-decoration: none;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 215px;
    letter-spacing: 2px;
}