
/* navigation bar */

.navigation{
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #81535D;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
    z-index: 9999;
    
}
#navButtons{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

button{
    background: transparent;
    border: none;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 2px;

}

.reg button:hover{
    color: #FF9C00;
}
.reg button{
    margin-right: 40px;
    color: #F6EED6;
    font-family: "Barlow";                                 
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    
    
}

.hotline button{
    padding: 10px;
    border-radius: 30px;
    background-color: #FF9C00;
    text-decoration: none;
    margin-right: 40px;
    color: #ffffff;
    font-family: "Barlow", sans-serif;                                     
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    
}

.hotline button:hover{
    padding: 10px;
    border-radius: 30px;
    background-color: #F6EED6;
    text-decoration: none;
    margin-right: 40px;
    color: #FF9C00;
    font-family: "Barlow", sans-serif;                                     
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    letter-spacing: 2px;
}


.logo{
    display: flex;
}
.logo h1{
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    color:#F6EED6;
    line-height: 10px;
}

/*end  navigation bar */



.page1{
    
    margin-top: 0px;
    background-image: url('assets/background.png');
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(66, 57, 57, 0.692);
    background-size: center;

}
.title{
    z-index: 1;
}
.title img{
    position: static;
    width: 100%;
    height: 100vh;
   
}
.title h1{
    position:absolute;
    font-family: "Ubuntu", sans-serif;
    font-size: 65px;
    margin-top: 110px;
    margin-left: 48%;
    color: #fff;
    text-shadow: 2px 2px #98727a ;

}
.title h3{
    position: absolute;
    font-family: "Barlow";
    font-size: 30px;
    margin-top: 250px;
    margin-left: 40%;
    color: #fff;
    font-weight: 500;
    text-shadow: 1px 1px #98727a ;
    
}


.colored{
    color: #FF9C00;
}

.textcont{
    
    background-color: #fff;
    height: 120px;
    width: 190px;
    padding: 15px;
    margin: -5px 0;
    margin-bottom: 40px;
}
.textcont h3{
    font-family: "Barlow";
    font-size: 15px;
    color: #81535D;
    margin: 0;
}

.textcont p{
    font-family: "Barlow";
    font-size: 9px;
    color: #81535D;
    margin-bottom: 10px;

}

.textcont h4{
    font-family: "Barlow";
    font-size: 12px;
    color: #FF9C00;
    text-align: center;
}

.textcont h4:hover{
    font-family: "Barlow";
    font-size: 12px;
    color: #81535D;
    text-align: center;
}
.container img{
    width: 220px;
    height: auto;
    margin-bottom: 0;
    
    
}
.main-container{
    display: flex;
    justify-content:center;
    background-image: url('assets/couple.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: auto;

}
.container{
    margin: 0%;

    display: inline-block;
    margin-inline: 80px;
    margin-top: 30px;
    margin-right: 50px;
    


}

.page2{
    margin: 10px 40% 5% 20%;
}
.page2 h1{
    color: #FF9C00;
    font-family: "Barlow";
    font-size: 30px;
    font-weight: 300;
    margin-left: 45px;
    margin-top: 100px;
    margin-bottom: 0;
}










.overview-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.overview-content {
    flex-grow: 1;
    max-width: 60%; /* Adjust the width as needed */
    align-items: center;
}

.overview-content h1 {
    color: #FF9C00;
    font-family: "Barlow";
    font-size: 40px;
    font-weight: 300;
    margin-left: 35px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.overview-content blockquote {
    font-family: "Barlow";
    font-size: 15px;
    color: #81535D;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 20px;
    text-align: justify;
}

.overview-image {
    flex-shrink: 0;
}

.overview-image img {
    max-width: 100%; /* Ensure the image is responsive and doesn't overflow */
    height: auto;
}

.overview-content {
    margin-left:25%; /* Adjust the space between the text and the image */
    margin-bottom: 100px;

    
}
.overview-image {
    margin-right:25%; /* Adjust the space between the text and the image */
    justify-content: center;
    
}


.emotional_health{
    background-color: #F6EED6;
    margin-top: 20px;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    display: flex;
}

.children_cope{
    background-color: white;
    margin-top: 20px;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    display: flex; 
}

.teens_cope{
    background-color: #F6EED6;
    margin-top: 20px;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    display: flex;  
}

.NZcont{
    display: flex; 
    width: 200vh;
    margin-left: 120px;
    margin-top: 0;
    
}


.Header{
    color:#ffffff;
    font-family: "Barlow";
    font-size: 30px;
    font-weight: 300;
    padding: 10px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: 40px;
    background-color: #FF9C00;
    border-radius: 10px;

}

.content{
    font-family: "Barlow";
    font-size: 18px;
    color: #81535D;
    margin: 45px 0 45px 45px;
    line-height: 25px;
    text-align: left;
    width: fit-content;
}

.images{
    margin-left: 38px;
    margin-top: 40px;
}

.images img{
    float: left;
    width: 370px;
    height: 300px;
    padding: 10px 20px 10px 10px;
}



.footer{
    margin-top: 0px;
    background-image: url(../general_asset/footer/28.png);
    background-attachment: fixed;
    width: 100%;
    height:60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(66, 57, 57, 0.692);
    background-size: center;
}

.footer_logo img{
    position: absolute;
    margin-top: 30px;
    margin-left: 850px;
    width: 150px; 
    height: 150px;
}

.footer_title p{
    position: absolute;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #F6EED6;
    line-height: 10px;
    margin-left: 800px;
    margin-top: 200px;
}

.footer_hotline a{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 30px;
    background-color: #FF9C00;
    text-decoration: none;
    margin-left: 820px;
    margin-top: 260px;
    color: #F6EED6;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
}

.footer_hotline a:hover{
    color: #81535D;
}

.follow p{
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-size: 25px;
    color: #F6EED6;
    line-height: 10px;
    margin-left: 460px;
    margin-top: 170px;
}

.follow_links{
    position: absolute;
    margin-left:380px;
    margin-top: 200px;
}
.follow_links a{
    margin-left: 60px;
}
.follow_links img{
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-left: 10px;
    opacity: 1;
}

.right_footer{
    margin-left: 60px;
}


.mid_footer{
    margin-left: 60px;

}

.left_icons{
    position: absolute;
    margin-left:10px;
    margin-top: 70px;
}

.left_icons img{
    position: absolute;
    opacity: 1;
}

.left_footer{
    margin-left: 20px;
}

.left_text p{
    position: absolute;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #F6EED6;
}
.left_text{
    margin-left: 70px;
}


.home_about a{
    position: absolute;
    color: #F6EED6;
    font-family: "Barlow";
    text-decoration: none;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 250px;
    letter-spacing: 2px;
}


.disasters_contact a{
    position: absolute;
    color: #F6EED6;
    font-family: "Barlow";
    text-decoration: none;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 215px;
    letter-spacing: 2px;
}

